p {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
.opening-line{
    text-align: center;
}

h1{
    font-family: 'Lato', sans-serif;
    background-color: pink;
    font-size: 3em;
    text-align: center;
    animation: fadeInBounce 1.5s ease-out;
}

h2{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    opacity: 0;
    transition: opacity 1s ease;
    margin-bottom: 40px;
    height: 600px;
    overflow: auto;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.photos-hidden{
    width: calc(33.33% - 20px); /* Adjust as needed */
    margin-bottom: 20px;
}

img{
    width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 0.8;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}

.button-container {
    display: flex;
    justify-content: space-evenly; /* Spread out items */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.fade-in {
    opacity: 1;
  }

.no-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e92020;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  transition: background-color 0.3s ease;
}

.yes-button{
    display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3ccc45;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  transition: background-color 0.3s ease;
}

.yes-button:hover{
    background-color: #b0e597;
}
.no-button:hover {
  background-color: #d17f77;
}

.response-text-yes {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 20px;
}

.response-text-yes.show {
    opacity: 1;
}


.response-text-no {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 20px;
}

.response-text-no.show {
    opacity: 1;
}

.heart{
    font-size: 80px;
}



